[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thmyris/Desktop/techlead got left behind]
row=5
col=0

[/home/thmyris/Desktop/pip for py2]
row=0
col=1

[/home/thmyris/Desktop/rlwrap_0.43-1+b2_amd64.deb]
row=8
col=0

[/home/thmyris/Desktop/tor_0.4.4.5-1_amd64.deb]
row=4
col=1

[/home/thmyris/Desktop/FB_IMG_1595457058729.jpg]
row=2
col=1

[/home/thmyris/Desktop/new-debs]
row=2
col=5

[/home/thmyris/Desktop/egzersiz]
row=7
col=0

[/home/thmyris/Desktop/burp extensions]
row=1
col=1

[/home/thmyris/Desktop/the-4th-hacker-powered-security-report.pdf]
row=6
col=0

[/home/thmyris/Desktop/audacity_2.4.2~dfsg0-3_amd64.deb]
row=3
col=1

[EAC4F434C4F4051B]
row=4
col=0

[28B45E63B45E3392]
row=1
col=0

[Wastebasket]
row=3
col=0

[/]
row=2
col=0

[/home/thmyris]
row=0
col=0

