[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thmyris/Desktop/test]
row=5
col=0

[/home/thmyris/Desktop/asda]
row=1
col=1

[/home/thmyris/Desktop/todo-xfce, obsolete, just here for archival purposes.md]
row=0
col=1

[/home/thmyris/Desktop/parcala aslanim]
row=6
col=0

[/home/thmyris/Desktop/Building Secure and Reliable Systems by Google.pdf]
row=7
col=0

[/home/thmyris/Desktop/setup]
row=2
col=1

[/home/thmyris/Desktop/get-pip.py]
row=4
col=0

[/home/thmyris/Desktop/nerde kalmistik]
row=3
col=6

[/home/thmyris/Desktop/.todo-xfce, obsolete, just here for archival purposes.md.kate-swp]
row=4
col=1

[/home/thmyris/Desktop/font i like]
row=8
col=0

[0062D9AE62D9A8A4]
row=0
col=0

[711B565D43525BB7]
row=3
col=1

[Wastebasket]
row=1
col=0

[/]
row=2
col=0

[/home/thmyris]
row=3
col=0

