[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thmyris/Desktop/font i like]
row=8
col=0

[/home/thmyris/Desktop/!TO DO LIST -XFCE-DEB.md]
row=0
col=1

[/home/thmyris/Desktop/Building Secure and Reliable Systems by Google.pdf]
row=7
col=0

[/home/thmyris/Desktop/parcala aslanim]
row=6
col=0

[E4E0B488E0B4630A]
row=4
col=0

[0062D9AE62D9A8A4]
row=0
col=0

[1723d8b9-b154-4179-8049-90101f5b6b65]
row=5
col=0

[Wastebasket]
row=1
col=0

[/]
row=2
col=0

[/home/thmyris]
row=3
col=0

