[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thmyris/Desktop/16012020 kar]
row=6
col=0

[/home/thmyris/Desktop/5things.md]
row=6
col=1

[/home/thmyris/Desktop/suid weirdness.png]
row=4
col=2

[/home/thmyris/Desktop/SSRF.png]
row=3
col=2

[/home/thmyris/Desktop/youtube-downloads]
row=1
col=1

[/home/thmyris/Desktop/how to mount usb for ucode drivers.txt]
row=0
col=2

[/home/thmyris/Desktop/2021-01-16_13-15.png]
row=5
col=1

[/home/thmyris/Desktop/linuxcfg. vivaldi disable ctrlq]
row=1
col=2

[/home/thmyris/Desktop/tweet grid]
row=5
col=2

[/home/thmyris/Desktop/vnote]
row=6
col=2

[/home/thmyris/Desktop/optionalnotes.txt]
row=2
col=2

[/home/thmyris/Desktop/vnote-test]
row=0
col=1

[/home/thmyris/Desktop/fuba]
row=7
col=0

[/home/thmyris/Desktop/.ipynb_checkpoints]
row=8
col=0

[/home/thmyris/Desktop/checkteamsdownlaod]
row=8
col=1

[/home/thmyris/Desktop/2021-01-16_13-11.png]
row=2
col=1

[/home/thmyris/Desktop/2021-01-16_13-151.png]
row=4
col=1

[/home/thmyris/Desktop/2021-01-16_13-14.png]
row=3
col=1

[/home/thmyris/Desktop/burpsuite vivaldi setup.md]
row=7
col=1

[/home/thmyris/Desktop/workout tracking apps(android).md]
row=7
col=2

[EAC4F434C4F4051B]
row=4
col=0

[6E8A4B598A4B1CC9]
row=3
col=0

[1d1efefc-7e30-417c-91ef-a683c1df8e0b]
row=5
col=0

[Wastebasket]
row=2
col=0

[/]
row=0
col=0

[/home/thmyris]
row=1
col=0

