[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thmyris/Desktop/16012020 kar]
row=4
col=1

[/home/thmyris/Desktop/5things.md]
row=0
col=11

[/home/thmyris/Desktop/suid weirdness.png]
row=6
col=5

[/home/thmyris/Desktop/SSRF.png]
row=6
col=8

[/home/thmyris/Desktop/youtube-downloads]
row=6
col=0

[/home/thmyris/Desktop/cene ileri]
row=4
col=0

[/home/thmyris/Desktop/how to mount usb for ucode drivers.txt]
row=0
col=9

[/home/thmyris/Desktop/linuxcfg. vivaldi disable ctrlq]
row=1
col=6

[/home/thmyris/Desktop/tweet grid]
row=1
col=1

[/home/thmyris/Desktop/vnote]
row=0
col=3

[/home/thmyris/Desktop/optionalnotes.txt]
row=0
col=10

[/home/thmyris/Desktop/vnote-test]
row=8
col=0

[/home/thmyris/Desktop/fuba]
row=2
col=3

[/home/thmyris/Desktop/.ipynb_checkpoints]
row=8
col=1

[/home/thmyris/Desktop/checkteamsdownlaod]
row=3
col=6

[/home/thmyris/Desktop/burpsuite vivaldi setup.md]
row=0
col=1

[/home/thmyris/Desktop/h1 2020 report stats]
row=4
col=11

[/home/thmyris/Desktop/workout tracking apps(android).md]
row=7
col=0

[6E8A4B598A4B1CC9]
row=0
col=0

[1d1efefc-7e30-417c-91ef-a683c1df8e0b]
row=1
col=0

[EAC4F434C4F4051B]
row=5
col=0

[Wastebasket]
row=2
col=0

[/]
row=3
col=0

[/home/thmyris]
row=9
col=0

