[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=arif mail cron
Comment=stupid script
Exec=/home/thmyris/files/recurring-email/cron.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

